In [299]:

# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the dataset

dataset = pd.read_csv('/Users/nisssh/Desktop/Mechine Learning/Krish Channel/Multi_Linear_Regression/50_Startups.csv')
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [300]:
# In dataset we store independent data is store in X 
X = dataset.iloc[:, :-1]
X

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [301]:

# Here and dependent data is store in y

y = dataset.iloc[:,4]
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [302]:
#Convert the column into categorical columns
# Drop_first means drop first column from three states col.

states = pd.get_dummies(X['State'],drop_first=True)
states

    Florida  New York
0     False      True
1     False     False
2      True     False
3     False      True
4      True     False
5     False      True
6     False     False
7      True     False
8     False      True
9     False     False
10     True     False
11    False     False
12     True     False
13    False     False
14     True     False
15    False      True
16    False     False
17    False      True
18     True     False
19    False      True
20    False     False
21    False      True
22     True     False
23     True     False
24    False      True
25    False     False
26     True     False
27    False      True
28     True     False
29    False      True
30     True     False
31    False      True
32    False     False
33     True     False
34    False     False
35    False      True
36     True     False
37    False     False
38    False      True
39    False     False
40    False     False
41     True     False
42    False     False
43    False      True
44    False     False
45    False      True
46     True     False
47    False     False
48    False      True
49    False     False

In [303]:
# Drop the state col now because already created dummy

X = X.drop('State',axis=1)
X

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75       127320.38        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16       145077.58        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34        140574.81
25   64664.71       139553.16        137962.62
26   75328.87       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02        85047.44        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [304]:
# Concat the dummy variables

X = pd.concat([X,states], axis=1)
X

# Now this become indepent dataset . 
# Now this data will provide to model to train.

    R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.20       136897.80        471784.10    False      True
1   162597.70       151377.59        443898.53    False     False
2   153441.51       101145.55        407934.54     True     False
3   144372.41       118671.85        383199.62    False      True
4   142107.34        91391.77        366168.42     True     False
5   131876.90        99814.71        362861.36    False      True
6   134615.46       147198.87        127716.82    False     False
7   130298.13       145530.06        323876.68     True     False
8   120542.52       148718.95        311613.29    False      True
9   123334.88       108679.17        304981.62    False     False
10  101913.08       110594.11        229160.95     True     False
11  100671.96        91790.61        249744.55    False     False
12   93863.75       127320.38        249839.44     True     False
13   91992.39       135495.07        252664.93    False     False
14  119943.24       156547.42        256512.92     True     False
15  114523.61       122616.84        261776.23    False      True
16   78013.11       121597.55        264346.06    False     False
17   94657.16       145077.58        282574.31    False      True
18   91749.16       114175.79        294919.57     True     False
19   86419.70       153514.11             0.00    False      True
20   76253.86       113867.30        298664.47    False     False
21   78389.47       153773.43        299737.29    False      True
22   73994.56       122782.75        303319.26     True     False
23   67532.53       105751.03        304768.73     True     False
24   77044.01        99281.34        140574.81    False      True
25   64664.71       139553.16        137962.62    False     False
26   75328.87       144135.98        134050.07     True     False
27   72107.60       127864.55        353183.81    False      True
28   66051.52       182645.56        118148.20     True     False
29   65605.48       153032.06        107138.38    False      True
30   61994.48       115641.28         91131.24     True     False
31   61136.38       152701.92         88218.23    False      True
32   63408.86       129219.61         46085.25    False     False
33   55493.95       103057.49        214634.81     True     False
34   46426.07       157693.92        210797.67    False     False
35   46014.02        85047.44        205517.64    False      True
36   28663.76       127056.21        201126.82     True     False
37   44069.95        51283.14        197029.42    False     False
38   20229.59        65947.93        185265.10    False      True
39   38558.51        82982.09        174999.30    False     False
40   28754.33       118546.05        172795.67    False     False
41   27892.92        84710.77        164470.71     True     False
42   23640.93        96189.63        148001.11    False     False
43   15505.73       127382.30         35534.17    False      True
44   22177.74       154806.14         28334.72    False     False
45    1000.23       124153.04          1903.93    False      True
46    1315.46       115816.21        297114.46     True     False
47       0.00       135426.92             0.00    False     False
48     542.05        51743.15             0.00    False      True
49       0.00       116983.80         45173.06    False     False

In [305]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X ,y, test_size=0.2 , random_state=0)

In [306]:
# Fitting Multiple Linear Regression to the Training set.
# Multiple Linear reg means Multiple Independent features.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [307]:
# Predicting the Test set results

y_predict = regressor.predict(X_test)
y_predict

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [308]:
y_test

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [309]:
# both X n y test are store in it.


from sklearn.metrics import r2_score
score=r2_score(y_test,y_predict)

score

 # result is very very near to one 
 # so it is goof model
 
# able to slove multi learner regression.

0.9347068473282424